
h1{
  color: rgb(220, 122, 11);
  padding: 3000px;
}
p {
  display: inline-block;
}

#ankor:link{
  color:blue;
  background-color:transparent;
  tex-decoration:none
  }
  #ankora:hover{
  color:red;
  backgroundcolor:transparent;
  tex-decoration:underline;
  }
 #ankor:visited{
  color:rgb(16, 216, 46) ;
  background-color:transperent;
  text-decoration:underline;
  }
  #ankor:active{
  color:rgb(177, 118, 118);
  background-color:transperent;
  text-decoration:none
  }

  body{
    background-image:url(picture/pexels-pixabay-531880.jpg) ;
    background-repeat:no-repeat;
    background-attachment:fixed;
  }