
/* h1{
  color: rgb(220, 122, 11);
  padding: 3000px;
}
p {
  display: inline-block;
}

#ankor:link{
  color:blue;
  background-color:transparent;
  tex-decoration:none
  }
  #ankora:hover{
  color:red;
  backgroundcolor:transparent;
  tex-decoration:underline;
  }
 #ankor:visited{
  color:rgb(16, 216, 46) ;
  background-color:transperent;
  text-decoration:underline;
  }
  #ankor:active{
  color:rgb(177, 118, 118);
  background-color:transperent;
  text-decoration:none
  }

  body{
    background-image:url(picture/pexels-pixabay-531880.jpg) ;
    background-repeat:no-repeat;
    background-attachment:fixed;
  } */

  /* table,th,td{
    width: auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 4px;
    border-collapse: collapse;
    margin: 40px;
    color: white;
  } */


  /* caption{
    color: red;
  }

  tr:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
  }

  th:nth-child(even), td:nth-child(even){
    background-color:rgba(150, 212, 212, 0.4);
  } */

  /* table{
    width: 5%;
    border-collapse: collapse;
    color: rgb(255, 0, 98);
    border: 2px solid white;
  }

  tr{
    border-bottom: 2px solid rgb(237, 232, 232);
  }
  td{
    text-align: center;
  }
  tr:hover{
    background-color: aquamarine;
  }
  
  #firsttr{
    background-color: aquamarine;
  } */


  /* caption{
    color: rgb(244, 137, 137);
  }
  table{
    color: white;
    border-collapse:collapse;
    width: 5%;
    border: 1px solid black;
    text-align: center;
  }
  
  th, td{
    border-bottom: 1px solid black;
  } */

  kbd > kbd  {
    border: 1px solid black;
    border-radius: 4px;
  }
  valueDisplay{
    font-size: 20px;
    margin-top: 10px;
  }

  #btn{
    color:aliceblue;
    background-color: rgb(131, 131, 234);
    border: 1px;
    border-radius: 4px;
  }
 body{
      background-image: url("https://picsum.photos/500/300?random=4");
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
  }
  .shadow{
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    font-size: large;
  }

  #grad1{
    height: 200px;
    width: 200px;
    background-color: red;
    background-image: repeating-conic-gradient(red 10% yellow 20%);
    border-radius: 50%;
  }